@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background: #333;
    color: #DCD7C9;
    font-family: Open Sans, sans-serif;
}
body.dark-mode {
    background-color: black;
    color: white;
}
.blink {
    animation: blink 0.8s infinite;
}
@keyframes blink{
    to { opacity: .0; }
}
.header-sub-title {
    color: black;
    font-size: 40px;
    padding: 0.1em;
}
.logo {
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;

}
.logo:hover {
    font-variation-settings: "wght" 582;
    letter-spacing: 5px;
}
html{
    scroll-behavior: smooth;
}
.color1{
    background: #333;
}
.color2{
    background: #403f3f;
}
.color3{
    background: #7f7f7f;
}
.color3txt{
    color: #6e5494;
}
.color4{
    background: #DCD7C9;
}
@media only screen and (min-width: 1024px) {
    .resimg {
        width: 33rem;
    }
}
@media only screen and (max-width: 500px) {
    .respons_post {
        margin-left: 100px;
        margin-right: 100px;
    }
}
